body{
    background-color: rgb(255, 205, 112);
}
.row div {
    padding: 50px;
    border: 5px solid black;
    border-radius: 4.5px;
    height: 30px;
    width: 30px;
    float: left;
    font-size: 33px;
    background-color: gold;
}

/* Makes it into a 3x3 grid */
.row {
    clear: both;
}